* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe8c1;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.box {
    width: 100%;
    height: 100px;
    gap: 10px;
    display:flex;
    align-items: center;
}

.box1 {
    background-color: #15eded;
}

.box2 {
    background-color: #80d663;
}

.box3 {
    background-color: #d042e6;
}

.box4 {
    background-color: #4958e0;
}

.box5 {
    background-color: #f53858;
}

.box6 {
    background-color: #ffa200;
}

@media (min-width: 768px) {
    .flex-container {
        flex-direction: row;
    }
}